.content {
    display: grid;
    position: relative;
    grid-template-columns: 0.5fr 2fr;
    margin-top: 100px;
    width: auto;
    height: 100vh;
    background-color: var(--bg-color);
    transition: 0.25s;

    .logo {
        position: relative;
        height: 300px;
        margin-left: 10px;
        margin-top: 10px;
        object-fit: cover;
    }

    .text {
        width: 100%;
        margin-top: 10px;
        margin-left: auto;
        color: var(--text-color);
        transition: 0.25s;
    }
}

@media screen and (max-width: 720px) {
    .content {
        display: flex;
        flex-direction: column;
        width: auto;
        margin-top: 120px;
        transition: 0.25s;

        .logo {
            display: flex;
            width: 120px;
            height: 120px;
            margin-left: 10px;
            margin-right: 10px;
            border-radius: 50%;
        }

        .text {
            display: flex;
            flex-direction: column;
            margin-left: 10px;
            width: auto;
            transition: 0.25s;
        }
    }
}
